<div class="mb-3">
  <label for="" class="form-label">Category</label>
  <select class="form-select form-select-lg" name="cat" id="prdCat" [(ngModel)]="selectedCatID">
    <option *ngFor="let cat of prdCat" [value]="cat.id">{{cat.name}}</option>
  </select>
</div>
<div class="text-secondary">
  To Be Removed For Test:
  {{selectedCatID}} <br>
  <button class="btn btn-primary" (click)="changeCtg()">Change Category</button>
</div>
<hr>
<div class="table-responsive">
  <table class="table table-primary">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>AV. Quantity</th>
        <th>Price</th>
        <th>Count</th>
        <th>Buy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of prdList" [class.bg-info]="product.quantity == 0"
      [style]="(product.categoryID == 0) ? 'cornflowerblue' : 'green'">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td><img [src]="product.imgURL" alt=""></td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <!-- Template-Variables -->
        <td><input #itemCount type="number" class="form-control"></td>
        <!-- Template-Variables -->
        <td><button type="button" class="btn btn-outline-primary" (click)="buy(product.price, itemCount.value)">Buy</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h3>Order Total Price: {{orderTotalPrice}}</h3>

